body {
    overflow: hidden;
    background-color: rgb(71, 71, 71);
    padding: 0;
    margin: 0;
}

h1{
    margin:auto;
    font-family: "Comic Sans MS";
    color:white;
    font-size: 75px;
    text-align:center;
}