body {
    overflow: hidden;
    background-color: rgb(247, 247, 242);
    padding: 0;
    margin: 0;
}

h1{
    margin:auto;
    font-family: "Comic Sans MS";
    color:rgb(199, 235, 196);
    font-size: 75px;
    text-align:center;
}